<p id="notice"><%= notice %></p>

<p>
  <h1>Photo <%= @photo.id %> of <%= (@photo.gallery.product.name).pluralize %> Gallery</h1><br>
  <%= image_tag @photo.photo.url(:small) %>
  <h5><%= @photo.photo_file_name %></h5>
</p>

<%= link_to 'Edit', edit_gallery_photo_path(@gallery, @photo) %> |
<%= link_to 'Back', gallery_path(@gallery) %>
