<p id="notice"><%= notice %></p>
<h1>Welcome to <%= @gallery.product.name %> Gallery<br></h1>

<table>
<tr class="product-grid">
<% @gallery.photos.each do |photo| %>
  <td>
    <div class="item">
    <%= link_to( image_tag(photo.photo.url(:small)), gallery_photo_path(@gallery, photo), :class=>"product_show") %>
    </div>
    <h5><%= photo.photo_file_name %></h5></p>
    <%= link_to 'Edit', edit_gallery_photo_path(@gallery, photo) %>
    <%= link_to 'Destroy', gallery_photo_path(@gallery, photo), method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
<% end %>
</tr>
</table>
<%= link_to 'Add New Photo', new_gallery_photo_path(@gallery) %></br>
<!-- 
<%= link_to 'Edit Gallery', edit_gallery_path(@gallery) %> |
 -->
<%= link_to 'Back', products_path %>


