<p id="notice"><%= notice %></p>


<p>
  <h3><%= @product.name %> Information</h3>
</p>

<table>
<tr class="product-gallery-grid">
<% @product.gallery.photos.each do |photo| %>
  <td>
    <div class="product-gallery">
    <%= image_tag photo.photo.url(
    if photo == @product.gallery.photos.first
      :large
    else
      :small
    end
      ) %><br>
    </div>
  </td>
<% end %>
</tr>
</table>

  <h5><strong>Customer Review</strong></h5>
  <h5><strong>BUY NEW! </strong><%= @product.price %></h5>
  <h5><strong>Description:</strong></h5></p>
  <%= sanitize(@product.description) %>

<%= form_tag line_items_path(product_id: @product)  do %>
<%= text_field_tag :quantity, '1', size: 4 %>
<%= submit_tag 'Add to Cart' %>
<% end %>     
<%= link_to "Back", root_path %>

<!-- 
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
 -->